{
	"id": "{{APP_ID}}",
	"version": "{{VERSION}}",
	"vendor": "{{APP_VENDOR}}",
	"type": "web",
	"main": "index.html",
	"title": "{{APP_TITLE}}",
	"icon": "icon.png",
	"miniicon": "icon-mini.png",
	"largeIcon": "icon-large.png",
	"uiRevision": 2,
	"disableBackHistoryAPI": true,
	"vendorExtension": {
		"allowCrossDomain": true
	}
}
